* {
	box-sizing: border-box;
}
body {
	font-family: 'Roboto', sans-serif;
	background-image:url(images/patt.png);
	font-size: 20px;
}
.container {
	width: 1170px;
	margin: 0 auto;
}
.row:after {
	content: "";
	display: block;
	clear: both;
}
[class*="col-"] {
	float: left;
}
.col-md-3 {
	width: 25%;
}
.col-md-6 {
	width: 50%;
}
.header {
	background-color: rgba(255,255,255,0.75);
	padding: 25px 0;
}
.menu li {
	float: left;
	height: 50px;
	width: 25%;
	border-left: 1px solid #2c71b8;
}
.menu li:last-child {
	border-right: 1px solid #2c71b8; 
}
.menu li:hover a {
	background-color: #2c71b8;
	color: white;
}
.menu a {
	display: block;
	height: 50px;
	text-decoration: none;
	text-align: center;
	line-height: 50px;
	color: #2c71b8;
}
.logo {
	margin-top: 5px;
}
.submenu {
	display: none;
	left: 0;
	top: 100%;
	width: 200%;
	z-index: 5;
}
.menu li:hover .submenu {
	display: block;
}
.menu ul:after {
	content: "";
	display: block;
	clear: both;
}
.submenu a {
	text-align: left;
	padding-left: 30px;	
}
.submenu li:hover a {
	background-color: white;
	color: #2c71b8;
}
.search {
	width: 200px;
	border: 1px solid #2c71b8;
	height: 40px;
	margin-left: 30px;
	box-sizing: border-box;
	float: left;
}
.cart input, .cart button {
	background: transparent;	
}